html, body {
  margin: 0;
  padding: 0;
}

#app {
  width: 1440px;
  height: 900px;
  display: flex;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.project-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

.project-label {
  position: absolute;
  white-space: nowrap;
  font-size: 12px;
  font-family: Franklin Gothic Book Heavy;
  color: white;
  background: #8291a4;
  padding: 3px 7px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.1);

  pointer-events: fire;
  transform: translateX(-50%);
}

.project-label::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255,255,255,0.9);
}

.maplibregl-popup-tip,
.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
.maplibregl-popup-anchor-left .maplibregl-popup-tip,
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  display: none !important;
  border: none !important;
}

.project-buttons {
  flex-shrink: 0;
  margin-left: 5px;
  border: transparent;
}

.project-buttons button {
  margin-left: 2px;
  border: transparent;
}

/* Правая панель */
#right-panel {
  width: 300px;
  padding: 10px;
  background: white;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

/* левая панель */
#left-panel {
  width: 200px;
  padding: 15px;
  background: white;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

#project.name {
  width: 100px;
  padding: 15px;
  background: #2a2e32;
  border: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

#project-list {
  list-style: none;      /* убираем маркеры */
  padding-left: 0;       /* ❗ главный виновник */
  margin-left: 0;
}

/* Контейнер описания/редактирования */
#right-desc, #edit-container {
  margin-top: 10px;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

#edit-name, #edit-desc, #edit-city {
  width: 100%;       /* поле растягивается на ширину панели */
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: Franklin Gothic Book;
  font-color: #2a2e32;
}

#edit-desc {
  height: 240px;     /* высота текстового поля */
  resize: vertical;  /* пользователь сможет менять высоту */
}


/* Скрываем редактирование по умолчанию */
#edit-container {
  display: none;
  flex-direction: column;
}

#edit-container input,
#edit-container textarea,
#save-project {
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}


.right-panel.active {
  display: flex;
}

.map-and-panel {
  flex: 0;
  min-width: 600px;
  flex-shrink: 0;
}

.project-marker {
  border-radius: 0 !important;
  z-index: 1000;
}

#viewport {
  width: 1440px;   /* фиксированная ширина всего сайта */
  height: 900px;   /* фиксированная высота */
  overflow: hidden;
}

#app {
  width: 1440px;
  height: 900px;
}
